@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/*colores
#000000
#6527BE
#BDBDD7
#D9D9D9
#F5EDED

#A076F9 /*gradient*/
*/

/*fuentes
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*HEADER---------------------*/
/*Navbar*/
a{
    text-decoration: none;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: #BDBDD7 solid 1px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.sello-principal{
    display: flex;
    align-items: center;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-left: 1rem;
    text-decoration: none;
}

.search-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-container input{
    height: 2rem;
    width: 15rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0;
    outline: none;
    padding-left: 1rem;
    background-color: #F5EDED;
}
.search-container button{
    height: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    padding-right: 0.2rem;
    padding-left: 0.3rem;
    background-color: #F5EDED;
    cursor: pointer;
}

.icons-notificaciones{
    /*visibility: hidden;*/
    width: 25%;
    display: flex;        /*botones escondidos hasta que el usuario se loguee*/
    justify-content: space-around;
}
.icono-search{
    width: 16px;
    height: 16px;
}

/*Banner*/
.banner-negro{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #F5EDED;
}

/*Agregar comunidades index*/

.agregar-grupos{
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: #6627be8c solid 1px;
}
.agregar-grupos p{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 0.4rem;
}
.agregar-grupos div{
    display: inline-flex;
    border: #000 solid 1px;
    border-radius: 50%;
    padding: 2rem;
}

/*Flex cards artistas*/
.contenedor-cards-artistas-hero{
    padding: 3rem 2rem;
    padding-bottom: 5rem;
}
.titulo-genero{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
}
.titulo-genero strong::first-letter{
    color: #6527BE;
}
.titulo-explorar{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}
.flex-cards-artistas{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.flex-cards-artistas div{
    background-color: #F5EDED;
    border-radius: 10%;
}
.tamano-img-artist{
    width: 15rem;
    height: 16.8rem;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}
.tamano-img-artist:hover{
    transform: scale(1.02);
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}
.footer-img-artist{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    column-gap: 0.4rem;
}
.footer-img-artist:hover{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    background-color: #6627be6e;
}
.footer-img-artist img{
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}
.footer-img-artist img:hover{
    transform:scale(1.1);
}
.footer-img-artist strong{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

/*CONTENEDOR DE CARS GENEROS*/

.contenedor-generos-her{
    padding: 2rem 4rem;
    padding-bottom: 5rem;
    background-color: #F5EDED;
}
.contenedor-generos-her h1{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 3rem;
    font-size: 2rem;
    color: #000;
}
.cards-generos{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1rem;
}
.cards-generos div{
    width: 12rem;
    height: 10rem;
    background-color: #6527BE;
    border-radius: 5%;
    box-shadow: 0 0 20px #aa00ff;
}
.cards-generos div:hover{
    background-color: #000;
}
.cards-generos div a{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
}


/*Anuncio de creación de cuenta*/
.contenedor-anuncio-fans{
    background-image: url(./assets/img/anuncio.jpg);
    padding:5rem 2.2rem;
}
.anuncio-fans{
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 3rem 2rem;
}

.anuncio-fans h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #fff;
}

.anuncio-fans button{
    padding: 0.7rem;
    border-radius: 7%;
    border-style: hidden;
    background-color: #068FFF;
    color: #fff;
}
.anuncio-fans div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #526D82;
    row-gap: 0.8rem;
}

.anuncio-fans div a{
    color: #068FFF;
}

/*FOOTER*/
a{
    text-decoration: none;
}
.container-footer{
    padding: 1rem;
    background-color: #F3F3F3;
}
.container-footer div{
    display: inline-flex;
    width: 100%;
    column-gap: 1rem;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.container-footer p{
    display: flex;
    justify-content: center;
    color: #526D82;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;
}




/* -------------------------------------------------css BTS PROFILE     ALBUMS*/ 

.contenedor-perfil-artist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9rem 2rem 9rem;
    /* background: -moz-linear-gradient(bottom, #aa00ff34, rgba(255, 255, 255, 0.5));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#aa00ff96), to(rgba(255, 255, 255, 0.5))); */
}

/*Caja de Logo artista y nombre*/
.artist-logo-y-nombre{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.artist-logo-y-nombre div{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.artist-logo-y-nombre div h1{
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}
.artist-logo{
    width: 12rem;
    height: 12rem; 
    border-radius: 50%;
}
.icono-verificado{
    width: 1.5rem;
    height: 1.5rem;
}

/*Caja de numero de miembros y boton de unirse*/
.member-fav-box{
    display: flex;
    column-gap: 2rem;
}

.caja-miembros-y-unirse{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    column-gap: 3rem;
}
.caja-miembros-y-unirse div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    row-gap: 0.5rem;
}
.caja-miembros-y-unirse div p:first-child{
    font-weight: bolder;
    font-size: 1.7rem;
}



/*ajustes en boton de unirse*/
.contenedor-perfil-artist div button{
    padding: 0.4rem 3rem 0.4rem 3rem;
    background-color: #000;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 0.8rem;
    border-style: none;
    box-shadow: 0 0 20px #aa00ff; 
    column-gap: 5rem;
}


/*Menu del perfil*/
.menu-profile-container{
    display: flex;
    justify-content: space-around;
    border-bottom: solid #BDBDD7 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu-profile-container a{
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    transition: transform 0.3s; 
}
.menu-profile-container .active:hover{
    transform: scale(1.1);
}

/*Container con la descripción del artista*/
.container-about-artist{
    display: flex;
    column-gap: 7rem;
    padding: 2rem 7rem;
    border-bottom: solid 1px #BDBDD7;
    background-color: #000;
    color: #fff;
}
.foto-about-artist{
    width: 22rem;
    height: 25rem;
    border-radius: 0.5rem;
}

/*Container foto artistas + descripción| Perfiles de artistas*/
.container-descripcion-artistas{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}
.container-descripcion-artistas p:first-child{
    font-size: 1.7rem;
    font-weight: lighter;
}


/*container perfiles de artistas*/
.container-perfiles-integrantes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    column-gap: 2rem;
}
.container-perfiles-integrantes img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 20px #aa00ff; 
}
.container-perfiles-integrantes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}
.container-perfiles-integrantes p{
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;       
}
.artist-name{
    font-weight: bolder;
}

/*------cards de albums*/
.albums-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 4rem;
    padding: 2rem 2rem 5rem 4rem;
}
.fondo-card-album{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: #f3f3f3c4;
    padding: 1.3rem 1rem 3rem 1rem;
    border-radius: 5%;
}
.fondo-card-album p{
    font-family: 'Roboto', sans-serif;
    font-weight: light;
    font-size: 0.8rem;

}
.fondo-card-album strong{
    font-size: .9rem;
    color: #000;
}
.album-img-size{
    width: 11rem;
    height: 11rem;
}


/* -------------------------------------------------css BTS PROFILE    FOTOS*/ 

.container-fotos-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
    column-gap: 1rem;
    row-gap: 1rem;
}
.tamano-foto-perfil img{
    width: 22rem;
    height: 22rem;
}


/*-----------------------------------------BTS YOUTUBE API ------------------*/

.video-card {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    width: calc(45% - 20px); /* Ancho de las tarjetas con margen */
    vertical-align: top; /* Alinea las tarjetas en la parte superior */
}

.video-card iframe {
    width: 100%; /* Ajusta el ancho del iframe al 100% de la tarjeta */
    height: 200px; /* Altura del iframe, ajusta según tu preferencia */
}


/*Media Queries ***************************************INDEX.HTML*/
@media (max-width: 1088px){
    .cards-generos{
        justify-content: center;
        column-gap: 1.3rem;
    }
}

@media (max-width: 790px){
    nav{
        justify-content: space-around;
        row-gap: 3.2rem;
        flex-wrap: wrap;
    }
    .search-container input{
        display: none;
    }
    .search-container button {
        background-color: #fff;
    }
    .icons-notificaciones{
        width: 100%;
    }
    .icons-notificaciones img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .sello-principal{
        padding-left: 0rem;
        font-size: 1.5rem;
    }
    .titulo-explorar{
        font-size: 2rem;
    }
    

    .container-footer div{
        font-size: 0.7rem;
    }
    .container-footer p{
        font-size: 0.8rem;
    }
    .anuncio-fans div p{
        font-size: 0.9rem;
    }
    .anuncio-fans h2{
        font-size: 2rem;
    }
}

@media (max-width: 655px){
    .agregar-grupos{
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .agregar-grupos p{
        font-size: 1rem;
    }
}

@media (max-width: 563px){
    .banner-negro div{
        font-size: 1.2rem;
    }
}

@media (max-width: 524px){
    .contenedor-generos-her{
        padding: 1rem 1rem;
        padding-bottom: 2rem;
        background-color: #000;
    }
    .cards-generos div{
        width: 8rem;
        height: 8rem;
    }
    .contenedor-generos-her h1{
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .titulo-explorar{
        font-size: 1.4rem;
    }
}

@media (max-width: 445px){
    .agregar-grupos p{
        font-size: 1.2rem;
    }
    .container-footer p{
        font-size: 0.6rem;
    }
}

@media (max-width: 406px){
    .logo-principal strong{
        font-size: smaller;
    }
    .anuncio-fans h2{
        font-size: 1.5rem;
    }
    .anuncio-fans div p{
        font-size: 0.8rem;
    }
    .banner-negro div{
        font-size: 0.9rem;
    }
}

@media (max-width: 367px){
    .anuncio-fans{
        flex-wrap: wrap;
        row-gap: 1.2rem;
    }
    .container-footer div{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.5rem;
        row-gap: 1rem;
        padding-bottom: 1rem;
    }
}



/*Media Queries ***************************************BTSPROFILE.HTML************/
@media (max-width: 1465px){
    .container-about-artist {
        display: flex;
        column-gap: 3rem;
        padding: 2rem 7rem;
    }
}

@media (max-width: 1381px){
    .container-about-artist {
        display: flex;
        column-gap: 2rem;
        padding: 2rem 2rem;
    }
    .container-perfiles-integrantes{
        column-gap: 1rem;
    }
    .foto-about-artist{
        height: 27rem;
    }
}
@media (max-width: 1112px){
   .container-about-artist{
    display: grid;
    grid-template-rows: 27rem 1fr;
    grid-template-areas: 
    'foto-about-artist'
    'container-descripcion-artistas'
    ;
    justify-items: center;
    row-gap: 2rem;
   } 
    .foto-about-artist{
        grid-area: foto-about-artist;
        width: 25rem;
    }
    .container-descripcion-artistas{
        grid-area: container-descripcion-artistas;
    }
    .artist-logo{
        width: 9rem;
        height: 9rem;
    }
    .artist-logo-y-nombre div h1 {
        font-size: 2rem;
    }
    .contenedor-perfil-artist {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 4rem 2rem 4rem;
    }
}

@media (max-width: 828px){
    .contenedor-perfil-artist{
        display: grid;
        grid-template-rows: 1fr 10rem;
        grid-template-areas: 
        'artist-logo-y-nombre'
        'member-fav-box'
        ;
        justify-content: center;
    }
    .artist-logo-y-nombre{
        grid-area: artist-logo-y-nombre;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .member-fav-box{
        grid-area: member-fav-box;
    }

    .icono-verificado{
        width: 1rem;
        height: 1rem;
    }
    .artist-logo-y-nombre div {
        display: flex;
        align-items: center;
        column-gap: .2rem;
    }
}

@media (max-width: 728px){
    .container-perfiles-integrantes {
        display: flex;
        justify-content: center;
        row-gap: 2rem;
        column-gap: 2rem;
        flex-wrap: wrap;    
    }

    .albums-container{
        padding: 3rem 2rem 5rem 2rem;
    }  
}

@media (max-width: 611px){
    .menu-profile-container .ocultar span{
        display: none;
    }
    .menu-profile-container{
        background-color: #F3F3F3;
    }
}

@media (max-width: 465px){
    .foto-about-artist{
        width: 21rem

    }
    .container-descripcion-artistas p:first-child{
        font-size: 1rem;
        font-weight: bold;
        padding-top: 2rem;
    }
}

@media (max-width: 513px){
    .album-img-size{
        width: 9rem;
        height: 9rem;
    }
    .fondo-card-album strong {
        font-size: .8rem;
        color: #000;
    }
    .fondo-card-album p {
        font-family: 'Roboto', sans-serif;
        font-weight: light;
        font-size: 0.7rem;
    }
}

@media (max-width: 483px){
    .container-perfiles-integrantes img{
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width: 449px){
    .albums-container {
        row-gap: .8rem;
        column-gap: .8rem;
    }
    .album-img-size{
        width: 7rem;
        height: 6rem;
    }
    .fondo-card-album strong {
        font-size: .6rem;
        color: #000;
    }
    .fondo-card-album p {
        font-family: 'Roboto', sans-serif;
        font-weight: light;
        font-size: 0.5rem;
    }
}

@media (max-width: 415px){
    .artist-logo{
        width: 6rem;
        height: 6rem;
    }
    .container-perfiles-integrantes img{
        width: 4rem;
        height: 4rem;
    }
    .foto-about-artist{
        width: 18rem;
        height: 25rem;
    }
    .container-descripcion-artistas p:first-child {
        padding-top: .1rem;
    }
    .contenedor-perfil-artist div button{
        font-size: .8rem;
        border-radius: 0.7rem;
        box-shadow: 0 0 10px #aa00ff;
        width: 2rem;
        display: flex;
        justify-content: center;
    }
    .albums-container{
        padding: 1rem .5rem 1rem .1rem;
    }
    .foto-about-artist{
        width: 19rem;
        height: 23rem;
    }
    .container-about-artist{
        padding: 1.5rem;
        row-gap: .1rem;
    }
    .caja-miembros-y-unirse div p{
        font-weight: bolder;
        font-size: .7rem;
    }
}
@media (max-width: 355px){
    .container-about-artist {
        display: grid;
        grid-template-rows: 22rem 1fr;
        grid-template-areas:
        'foto-about-artist'
        'container-descripcion-artistas';
        justify-items: center;
        row-gap: 2rem;
    }
    .foto-about-artist{
        width: 17rem;
        height: 21rem;
    }
}


/*Media Queries ***************************************BTSFOTOS.HTML************/
@media (max-width: 1216px){
    .tamano-foto-perfil img{
        width: 17rem;
        height: 17rem;
    }
}
@media (max-width: 980px){
    .tamano-foto-perfil img{
        width: 13rem;
        height: 13rem;
    }
}
@media (max-width: 784px){
    .container-fotos-flex{
        padding: 1rem 0rem 1rem 0rem;
        column-gap: .5rem;
        row-gap: .5rem;
    }
}
@media (max-width: 644px){
    .tamano-foto-perfil img{
        width: 10rem;
        height: 10rem;
    }
}
@media (max-width: 497px){
    .tamano-foto-perfil img{
        width: 9rem;
        height: 9rem;
    }
}
@media (max-width: 449px){
    .tamano-foto-perfil img{
        width: 7rem;
        height: 7rem;
    }
}
@media (max-width: 352px){
    .tamano-foto-perfil img{
        width: 6.3rem;
        height: 6.3rem;
    }
}






